%h2 
  Administration inmemoria
  %a(href='/admin/add')Ajouter un hommage

-if flash[:notice]
  #flash_notice
    %p= flash[:notice]
-if flash[:error]
  #flash_error
    %p= flash[:error]

- unless @hommages.empty?
  #wrap
    - @hommages.each do |hommage|
      .column
        %img{:src => hommage.urlImageTresReduite, :class=>"img-box" }/
        %p 
          %a(href='/admin/edit/#{hommage.id}')
            = hommage.nom

#wrapNav
  #nav
    - if Integer(@offset) == 0
      - if @end == "False"
        .INforward
          %a{:href=>'/admin/pages/' + (Integer(@offset)+1).to_s(),:id=>'forward',:class=>'awesome'}
            Page Suivante
    - else
      - if @end == "False"
        .INforward
          %a{:href=>'/admin/pages/' + (Integer(@offset)+1).to_s(),:id=>'forward',:class=>'awesome'}
            Page Suivante
      .INrewind
        %a{:href=>'/admin/pages/' + (Integer(@offset)-1).to_s(),:id=>'rewind',:class=>'awesome'}
          Page Précédente
        &nbsp; &nbsp; &nbsp; &nbsp;




