%h2 Administration

-if flash[:error]
  #flash_error
    %p= flash[:error]
-if flash[:notice]
  #flash_notice
    %p= flash[:notice]

%form{:action=>"/login",:method=>"post", :id => "contactform", :class => "rounded" }
  .field
    %label(for="username")Nom:
    %input{:type=>"text",:name=>"username",:id=>"username", :class=>"input"}
    %p{:class=>"hint"}Entrez votre nom

  .field
    %label(for="password")Mot de passe:
    %input{:type=>"password",:name=>"password",:id=>"password", :class=>"input"}
    %p{:class=>"hint"}Entrez votre mot de passe


  %input{:type=>"submit",:value=>"Ajouter", :class => "button"}

